<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>semafloor-control-center Demo</title>
    <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="../../lodash/dist/lodash.min.js" charset="utf-8"></script>

    <link rel="import" href="../semafloor-control-center.html">
  </head>
  <body>
    <style is="custom-style">
      body {
        margin: 0;
        font-family: 'Roboto', 'Noto', 'Helvetica', sans-serif;
        -webkit-font-smoothing: antialiased;
      }
    </style>

    <semafloor-control-center></semafloor-control-center>

    <script>
      var demo = document.querySelector('template[is=dom-bind]');

    </script>

  </body>
</html>
